# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Asset Store tools
[Aa]ssets/AssetStoreTools*

# IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
